@{
    ViewData["Title"] = "Home Page";
}


<center>
    <div class="img-container">
        <img src="~/css/BAiPhone.png" alt="Iphone stock" />
    </div>
</center>
<div class="text-center">
    <h1 class="display-4">¡Bienvenido al sistema!</h1>
  
</div>
