@model IEnumerable<TiendaIphone.Models.Tienda>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Home Page";

}


<center>
    <div class="img-container">
        <img src="~/lib/Images/BAiPhone.png" alt="BAiPhone logo con celular" />
    </div>
</center>
<div class="text-center">
    <h1 class="display-4"> <b>¡Bienvenido al sistema!</b> </h1>
    @if(User.IsInRole("SuperAdmin"))
    {
        @if (Model.Count() < 1)

        {

            <p style="font-size:25px; color:red"> <br /> <b>Para comenzar a trabajar en su sistema de gestión, primero debe añadir su tienda a la base de datos presionando el botón:"Añadir tienda al sistema"</b></p>
            <div>
                <a class="btn btn-success" asp-area="" asp-controller="Tienda" asp-action="Guardar">Añadir tienda al sistema</a>
            </div>

        }
        else
        {
            <p style="font-size:25px;"> <br />  <b>¿Desea añadir una nueva sucursal?</b></p>
            <div>
                <a class="btn btn-primary" asp-area="" asp-controller="Tienda" asp-action="Guardar">Añadir tienda al sistema</a>
            </div>
        }
    }
    







</div>
