@{
    ViewData["Title"] = "Home Page";
}


<center>
    <div class="img-container">
        <img src="~/lib/Images/BAiPhone.png" alt="BAiPhone logo con celular" />
    </div>
</center>
<div class="text-center">
    <h1 class="display-4">¡Bienvenido al sistema!</h1>
  
</div>
