@model TiendaIphone.Models.AccesoriosiPhone
@{
    ViewData["Title"] = "GuardarAccesorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-body">
    <!--Formularios de recepcion de datos-->
    <form method="post" asp-action="Guardar" asp-controller="Accesorios">
        <!--Validacion-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--Campos-->

        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="Modelo" class="form-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" type="text" placeholder="Ingrese modelo ..." />
                <span asp-validation-for="Modelo" class="text-danger" />
            </div>
        </div>
        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="EstadoAccesorio" class="form-label">Estado</label>
                <input asp-for="EstadoAccesorio" class="form-control" type="text"placeholder="Especifique el estado del accesorio: Usado, Sellado." />
                <span asp-validation-for="EstadoAccesorio" class="text-danger" />
            </div>
        </div>
        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="ColorAccesorio" class="form-label">Color</label>
                <input asp-for="ColorAccesorio" class="form-control" type="text" placeholder="Especifique el color: Blanco, Negro." />
                <span asp-validation-for="ColorAccesorio" class="text-danger" />
            </div>
        </div>
        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input asp-for="Descripcion" class="form-control" type="text" placeholder="Ingrese una descripción para el accesorio ..." />
                <span asp-validation-for="Descripcion" class="text-danger" />
            </div>
        </div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input asp-for="Precio" class="form-control" type="text" placeholder="Ingrese el precio ..." />
                <span asp-validation-for="Precio" class="text-danger" />
            </div>
        </div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="TiendaAccesorioID" class="form-label" >ID Tienda</label>
                <input asp-for="TiendaAccesorioID" class="form-control" type="text" placeholder="ID de la tienda: 1" />
                <span asp-validation-for="TiendaAccesorioID" class="text-danger" />
            </div>
        </div>
        <!--Botones para enviar los datos y volver al listado-->

        <div class="container" style="padding:30px">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success form-control" />
            </div>
        </div>
    </form>
</div>
